@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: #111;
    color: whitesmoke;
    overflow-x: hidden;
}

header, footer, main{
    width: 90vw;
    margin: auto;
    display: flex;
}

header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 1rem;
}

header h1, header h2{
    margin: 0;
}

main{
    height: 80vh;
    justify-content: space-between;
}

main h2{
    margin-bottom: 2rem;
}

button{
    background-color: #d5d5d5;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    transform: all 0.1s linear;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    background-color: white;
}

summary{
    cursor: help;
}

footer{
    position: absolute;
    bottom: 0;
    left: 5vw;
}

hr{
    margin-top: 30px;
    margin-bottom: 30px;
    color: white;
}

a:visited{
    color: white;
}

.meta{
    display: flex;
    justify-content: space-between;
}

.next{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.poll-btn{
    flex-grow: 1;
    min-width: 100px;
    margin: 10px;
}

.btn-holder{
    display: flex;
}

.sequences, .state{
    width: 40%;
    min-width: 20%;
    height: 80vh;
}

.results{
    display: flex;
    flex-direction: column-reverse;

    margin-top: 2rem;
    font-size: 1.4rem;
}

.result{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.result div{
    flex-grow: 1;
    width: 10%;
}

.sequence-holder{
    overflow-y: scroll;
    height: 80%;
    font-size: 0.9rem;
}

.allowed{
    font-weight: bold;
}

.disallowed {
    text-decoration: line-through;
    opacity: 0.9;
}

.sequence {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid white;
    background-color: #111;
    color: white;
    padding:1rem;
    margin-bottom: 1rem;
}

.seq-actions button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding:1rem;
    cursor: pointer;
    transition: 0.1s linear all;
}

.seq-actions button:hover{
    color: black;
    background-color: white;
}

.message{
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
}

.type{
    width: 10%;
}

.msg{
    text-align: left;
    /* width: 50%;    */
}

.src {
    width: 30%;
}

.replies{
    display: flex;
    flex-wrap: wrap;
}

.reply {
    margin: 10px;
    width: 30%;
}

.sequence-name, .state-name {
    font-size: 1.4em;
    text-decoration: underline;
    margin-bottom: 1rem;
    display: inline-block;
}

.logger{
    max-height: 8vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}


.log{
    font-style: 10px;
}

.error {
    color: red;
    font-weight: bold;
}