@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

body{
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: whitesmoke;
}

header, footer, main{
    width: 90vw;
    margin: auto;
    display: flex;
}

header {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
    padding: 1rem;
}

header h1, header h2{
    margin: 0;
}

main{
    height: 80vh;
}

main h2{
    margin-bottom: 2rem;
}

button{
    background-color: #eee;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    transform: all 0.1s linear;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover{
    background-color: white;
}

footer{
    position: absolute;
    bottom: 0;
    left: 5vw;
    height: 15vh;
}

a:visited{
    color: white;
}

.poll-btn{
    width: 80%;
    min-width: 100px;
    margin: 0;
}

.sequences, .state{
    width: 50%;
    min-width: 20%;
}

.results{
    display: flex;
    flex-direction: column-reverse;
}

.sequence {
    border-left: 1px solid white;
    background-color: black;
    color: white;
    padding:1rem;
    cursor: pointer;
    transition: 0.1s linear all;
}

.message{
    margin-bottom: 10px;
    margin-right: 10px;
    display: flex;
}

.type{
    width: 10%;
}

.msg{
    text-align: left;
    width: 50%;   
}

.src {
    width: 30%;
}

.replies{
    display: flex;
}

.sequence:hover{
    background-color: white;
    color: black;
}

.sequence-name, .state-name {
    font-size: 1.4em;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.logger{
    width: 80vw;
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}


.log{
    font-style: 10px;
}

.error {
    color: red;
    font-weight: bold;
}