<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backstage | Vertiges de Georges</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vue.dev.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
    <script src="js/regie.js"></script>
</head>

<body onload="init()">
    <div id="app">
        <header>
            <h1>Régie</h1>
            <h2><a href="/plateau.html" target="_blank" rel="noopener noreferrer">plateau</a></h2>
        </header>
        <main>
            <!-- <button onclick="cue('cue', 'seqname', 'identity')">start</button> -->
            <div class="state">
                <h2>ÉTAT</h2>

                <div class="meta">
                    <div class="next">
                        <h3>Séquence</h3>
                        <div>→ {{ next ? next : 'inconnue' }}</div>
                    </div>
                    <div class="clients">
                        <h3>Public</h3>
                        <div>→ {{ clients }}</div>
                    </div>
                </div>

                <button class="poll-btn" @click="togglePoll($event)">lancer sondage</button>
                <div class="results">
                    <div v-if="Object.keys(results).length === 0">Aucun résultat.</div>
                    <div class="result" v-for="(value, key) in results" :style="'order: '+value">
                        <div>{{ key }}</div>
                        <div>{{ value }}</div>
                        <button @click="setNext(key)">lancer</button>
                    </div>
                </div>
                <hr>
                <button class="poll-btn" @click="play_all()">lancer le son</button>
                <button class="poll-btn" @click="mute_all()">couper le son</button>
                <hr>
                <button class="poll-btn" @click="rideau()">rideau</button>

                <hr>
                <h2>LOG</h2>
                <ul class="logger">
                    <li v-for="log in logs" :class="'log '+log.type">{{ `[${log.ts}] ${log.msg}` }}</li>
                </ul>
            </div>

            <div class="sequences">
                <h2>SÉQUENCES</h2>
                <div class="sequence-holder">
                    <div class="sequence" v-for="seq in sequences" @click="cue('cue', 'sequence', seq.name)">
                        <div class="sequence-name">{{ seq.name }}</div>
                        <div class="messages">
                            <div class="message" v-for="msg in seq.messages">
                                <div class="type">{{ msg.type }}</div>
                                <div class="msg">{{ msg.msg ? msg.msg : '-'}}</div>
                                <div class="src" v-if="msg.src">{{msg.src}}</div>
                            </div>
                        </div>
                        <hr>
                        <h3>réponses</h3>
                        <div class="replies">
                            <div class="reply" v-for="reply in seq.replies">
                                <div>- {{ reply.txt }}</div>
                                <div>- {{ reply.reply }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </div>
</body>

</html>